<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'users/includes/basic_imports.html' %}
    <title>{% block title %}SongCards{% endblock %}</title>
    {% load staticfiles %}
    <link rel="shortcut icon" type="image/png" href="{%  static 'pyramid-chart.png' %}"/>
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'cards/style.css' %}"/>
    {% block page_script %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">

        <!-- Header -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'cards:index' %}">{{ user }}'s SongCards</a>
        </div>

        <!-- Items -->
        <div class="collapse navbar-collapse fancy" id="topNavBar">
            <!-- Left navbar -->
            <ul class="nav navbar-nav barselector">
                <!-- Practice or Browse -->
                <li><a id="toggle-practice-browse-href"><input id="toggle-practice-browse" type="checkbox" checked data-toggle="toggle" data-size="medium"
                           data-on="<i></i> {% block practice_or_browse %}{% endblock %}" data-off="<i></i> Browse"
                           data-onstyle="primary" data-offstyle="success" data-style="ios"></a></li>

                <!-- Search -->
                <form class="navbar-form navbar-right search-bar" role="search" method="get" action="
                        {% if search == 'User' %}{% url 'cards:index' %}
                        {% elif search == 'Public' %}{% url 'cards:public_index' %}
                        {% else %}{% url 'cards:user_friends_list' %}{% endif %}">
                    <div class="form-group has-feedback search-expand ">
                    <i id="search-icon" class="white fa {% block search_icon %}{% endblock %}">&nbsp;</i>
                        <input type="text" class="form-control" autofocus name="q" value="{{ request.GET.q }}"
                        placeholder="Search {% block search_context %}{% endblock %}" tabindex="1">
                            <i class="fa fa-search form-control-feedback"></i></div></form>

                {% comment %}<!-- TODO remove -->
                <li class="{% block music_active %}{% endblock %}"><a href="{% url 'cards:index' %}">
                    <span class="glyphicon glyphicon-music" aria-hidden="true"></span>&nbsp; Practice</a></li>
                <li class="{% block globe_active %}{% endblock %}"><a href="{% url 'cards:public_index' %}">
                    <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>&nbsp; Browse</a></li>{% endcomment %}
            </ul>

            <!-- Right navbar -->
            <ul class="nav navbar-nav navbar-right barselector">
                <!-- Add card -->
                <li class="{% block plus_active %}{% endblock %}"><a href="{% url 'cards:create_card' %}">
                    <i class="fa fa-plus" aria-hidden="true"></i>&nbsp; Custom</a></li>
                <!-- Community -->
                <li class="{% block user_active %}{% endblock %}"><a href="{% url 'cards:user_friends_list' %}">
                    <i class="fa fa-users" aria-hidden="true"></i>&nbsp; Community</a></li>
                <!-- User Profile -->
                <li class="{% block cog_active %}{% endblock %}"><a href="{% url 'cards:index' %}">
                        <i class="fa fa-cogs" aria-hidden="true"></i>&nbsp; Profile</a></li>
                <!-- Log out -->
                <li><a href="{% url 'users:logout_user' %}">
                        <i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
<div style="padding-top: 4em">
    {% block body %}
    {% endblock %}
</div>
</body>
</html>
