<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'users/includes/basic_imports.html' %}
    <title>{% block title %}SongCards{% endblock %}</title>
    {% load staticfiles %}
    <link rel="shortcut icon" type="image/png" href="{%  static 'favicon.ico' %}"/>
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'cards/style.css' %}"/>
</head> 
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">

        <!-- Header -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'cards:index' %}">SongCards</a>
        </div>

        <!-- Items -->
        <div class="collapse navbar-collapse" id="topNavBar">
            <ul class="nav navbar-nav">
                <li class="{% block albums_active %}{% endblock %}"><a href="{% url 'cards:index' %}"><span class="glyphicon glyphicon-music" aria-hidden="true"></span>&nbsp; Practice</a></li>
                <li><a href="{% url 'cards:index' %}"><span class="glyphicon glyphicon-cd" aria-hidden="true"></span>&nbsp; Browse</a></li>
            </ul>
            <form class="navbar-form navbar-left" role="search" method="get" action="{% url 'cards:index' %}">
                <div class="form-group">
                    <input type="text" class="form-control" name="q" value="{{ request.GET.q }}">
                </div>
                <button type="submit" class="btn btn-default">Search</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{% url 'cards:create_card' %}">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; Custom
                    </a>
                </li>
                <li>
                    <a href="{% url 'cards:index' %}">
                        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>&nbsp; Edit
                    </a>
                </li>
                <li>
                    <a href="{% url 'users:logout_user' %}">
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; Logout
                    </a>
                </li>
            </ul>
        </div>

    </div>
</nav>
{% block body %}
{% endblock %}
</body>
</html>
