{% extends 'cards/base.html' %}
{% block title %}Create Card{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form action="" class="form-horizontal" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% include 'users/form_template.html' %}
                            <div class="" style="display: inline;">
                                <button class="btn btn-success" type="submit">Update</button>
                            </div>
                            <div class="button-group" style="float: right">
                                <a href="{% url 'cards:index' %}">
                                    <div class="" style="display: inline;">
                                        <button class="btn btn-primary" type="button">Cancel</button></div></a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}