{% extends 'cards/base.html' %}
{% block title %}{{ card.topic }}{% endblock %}
{% block music_active %}active{% endblock %}
{% load staticfiles %}
{% block page_script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xregexp/3.1.1/xregexp-all.min.js"></script>
    <script src="{% static 'cards/js/detail_bundle.js' %}"></script>
{% endblock %}
{% block body %}
<div class="container-fluid songs-container">
    <div class="row">
        <!-- Left Panel -->
        <div class="col-sm-3 col-md-3">
            <!-- Youtube video -->
            <div class="panel panel-default bs-sidebar detail-box" data-spy="affix">
                <div class="panel-body">
                    <iframe src="{{ card.card_audio }}" width="100%" height="400em"></iframe>
                </div>
                <div class="center">
                    <button class="btn btn-secondary btn-sm">Autoscroll</button>
                    <button id="autoscroll-slower" class="btn btn-primary btn-sm fa fa-minus-square"></button>
                    <button id="autoscroll-button" class="btn btn-primary fa fa-arrow-down"></button>
                    <button id="autoscroll-faster" class="btn btn-primary btn-sm fa fa-plus-square"></button>
                </div>
            </div>

            <!-- todo Potentially have the album picture -->
            {% if False %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        {% if card.card_pic %}
                            <img src="{{ card.card_pic.url }}" class="img-responsive" style="">
                        {% else %}
                            <h3>No image to display</h3>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="col-sm-9 col-md-9">
            <div class="panel panel-default detail-box">
                <div class="panel-body">
                    <div class="caption">
                        {% if user == card.user %}
                            <form action="{% url 'cards:update_card' card.id %}" method="get" class="inline-form">
                                {% csrf_token %}
                                <input type="hidden" name="card_id" value="{{ card.id }}" />
                                <button type="submit" class="btn btn-success btn-sm">
                                    <span class="glyphicon glyphicon-cog"></span>
                                </button>
                            </form>
                            {% for feedback in settings %}
                                {% include 'cards/includes/spaced_repetition_button.html' %}
                            {% endfor %}
                                &nbsp;
                            <!-- Sharable -->
                            <span title="Allow this card to be shared">
                                <input id="is_sharable" type="checkbox" checked data-toggle="toggle" data-size="small"
                                       data-on="<i class='fa fa-check'></i> Share"
                                       data-off="<i class='fa fa-ban'></i> Private"
                                       data-onstyle="primary" data-offstyle="danger" data-style="ios"></span>

                            <!-- Share With -->
                            <span title="Share either with friends or the world">
                                <input id="share_with" type="checkbox" checked data-toggle="toggle" data-size="small"
                                       data-on="<i class='fa fa-users'></i> Friends"
                                       data-off="<i class='fa fa-globe'></i> Public"
                                       data-onstyle="primary" data-offstyle="success" data-style="ios"></span>

                            <!-- Share Link -->
                            {% comment %}
                            <form action="#" method="get" class="inline-form" title="Copy share link">
                                <input type="hidden" name="card_id" value="{{ card.id }}" />
                                <button id="share_link" type="submit" class="btn btn-success btn-sm">
                                    <span class="fa fa-share-alt"></span>
                                </button>
                            </form>{% endcomment %}
                            <button id="share_link" class="btn btn-success btn-sm fa fa-share-alt" data-toggle="modal" data-target="#share-link-modal">

                            <!-- auto scroll button -->
                            <!--
                            <button id="autoscroll-button" class="btn btn-success btn-sm fa fa-angle-double-down">
                            -->

                            <!-- todo implement favorite from inside -->
                            <form id="toggle-favorite" class="inline-form right" action="{% url 'cards:toggle_favorite' %}" method="post"
                                    style="margin-right: .5em">
                                    {% csrf_token %}
                                    <input type="hidden" name="card_id" value="{{ card.id }}" />
                                    <button type="submit" style="border: none; background-color: transparent; outline: none">
                                        <span class="fa fa-star {{ card.is_favorite|yesno:"star_on,pinstar" }}"></span>
                                    </button>
                            </form>

                        {% else %}
                            <form action="{% url 'cards:update_card' card.id %}" method="get" class="inline-form">
                                {% csrf_token %}
                                <input type="hidden" name="card_id" value="{{ card.id }}" />
                                <button type="submit" class="btn btn-success btn-sm">
                                    <i class="fa fa-add"></i> Add to my songs
                                </button>
                            </form>
                        {% endif %}
                        <!-- Right button group -->
                        <div class="right">
                            <!-- Youtube link -->
                            <a href="{{ card.card_audio }}" target="_blank" title="Watch song video on YouTube">
                                <button type="submit" class="btn btn-primary btn-sm">
                                <i class="fa fa-youtube">&nbsp; Youtube</i></button></a>

                            <!-- Lyrics Link -->
                            <a href="{{ card.card_score }}" target="_blank" title="Read lyrics and chords">
                                <button type="submit" class="btn btn-primary btn-sm">
                                    <i class="fa fa-list"></i>&nbsp; Score</button></a>
                        </div>
                    </div>

                <!-- transposition UI -->
                    <div class="text-description"><br/>
                        {% include 'cards/includes/transposition_bar.html' %}

                        <p class="fancy xxlarge">{{ card.topic }} ___ <small class="xlarge">{{ card.front }}</small></p>
                        <!-- todo potentially center, and buffer with spaces -->
                        <div class="bkg-white"> <!-- linebreaksbr -->
                            <br/>
                            <h4 id="lyrics" style="white-space: pre">{{ card.back }}</h4><br><br></div>

                        <p>review interval: {{ card.review_interval }} seconds</p>
                        <p>next review scheduled for: {{ card.review_time }}</p>
                        <p>date created: {{ card.date_created|date:"M d, Y"}}</p>
                        <p>owner: {{ card.user }}</p>
                        <p>{{ card.card_pic }}</p>
                        <p>{{ card.visibility }}</p>
                        <br>
                    </div>
                    <div>
                        {% if user == card.user %}
                        <form action="{% url 'cards:delete_card' card.id %}" method="post" class="inline-form" style="float: right">
                            {% csrf_token %}
                            <input type="hidden" name="card_id" value="{{ card.id }}" />
                            <button type="submit" class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    {% include 'cards/includes/share_link_modal.html' %}
{% endblock %}
