{% extends 'cards/base.html' %}
{% block title %}{{ card.topic }}{% endblock %}
{% block cd_active %}active{% endblock %}
{% block body %}
<div class="container-fluid songs-container">
    <div class="row">
        <!-- Left Panel -->
        <div class="col-sm-3 col-md-3">
            <div class="panel panel-default bs-sidebar" data-spy="affix">
                <div class="panel-body">
                    <iframe src="{{ card.card_audio }}" width="100%" height="400em"></iframe>
                </div>
            </div>
            {% if False %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        {% if card.card_pic %}
                            <img src="{{ card.card_pic.url }}" class="img-responsive" style="">
                        {% else %}
                            <h3>No image to display</h3>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="col-sm-9 col-md-9">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="caption">
                        {% if user == card.user %}
                        <form action="{% url 'cards:update_card' card.id %}" method="get" class="inline-form">
                            {% csrf_token %}
                            <input type="hidden" name="card_id" value="{{ card.id }}" />
                            <button type="submit" class="btn btn-success btn-sm">
                                <span class="glyphicon glyphicon-cog"></span>
                            </button>
                        </form>
                        {% for feedback in settings %}
                            {% include 'cards/includes/spaced_repetition_button.html' %}
                        {% endfor %}
                        <form action="{% url 'cards:update_card' card.id %}" method="get" class="inline-form">
                            {% csrf_token %}
                            <input type="hidden" name="card_id" value="{{ card.id }}" />
                            <button type="submit" class="btn btn-success btn-sm">Share&nbsp;
                                <span class="fa fa-share-alt"></span>
                            </button>
                        </form>
                        {% else %}
                            <form action="{% url 'cards:update_card' card.id %}" method="get" class="inline-form">
                                {% csrf_token %}
                                <input type="hidden" name="card_id" value="{{ card.id }}" />
                                <button type="submit" class="btn btn-success btn-sm">
                                    <span class="glyphicon glyphicon-plus"></span> Add to my songs
                                </button>
                            </form>
                        {% endif %}
                        <div class="right">
                            <a href="{{ card.card_audio }}" target="_blank">
                                <button type="submit" class="btn btn-primary btn-sm">
                                <span class="fa fa-youtube">
                                    Youtube
                                </span>
                                </button>
                            </a>
                            <a href="{{ card.card_score }}" target="_blank">
                                <button type="submit" class="btn btn-primary btn-sm">
                                    <span class="glyphicon glyphicon-tasks"></span>
                                    Score
                                </button>
                            </a>
                        </div>
                    </div>
                    <div class="text-description"><br/>
                        <p class="fancy xxlarge">{{ card.topic }} ___ <small class="xlarge">{{ card.front }}</small></p>
                        <h4 class="center" style="white-space: pre">{{ card.back|linebreaksbr }}</h4><br><br>
                        <p>review interval: {{ card.review_interval }} seconds</p>
                        <p>next review scheduled for: {{ card.review_time }}</p>
                        <p>date created: {{ card.date_created|date:"M d, Y"}}</p>
                        <p>owner: {{ card.user }}</p>
                        <br>
                    </div>
                    <div>
                        {% if user == card.user %}
                        <form action="{% url 'cards:delete_card' card.id %}" method="post" class="inline-form" style="float: right">
                            {% csrf_token %}
                            <input type="hidden" name="card_id" value="{{ card.id }}" />
                            <button type="submit" class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
