{% extends 'cards/base.html' %}
{% block title %}{{ card.topic }}{% endblock %}

{% block body %}
<div class="container-fluid songs-container">
    <div class="row">
        <!-- Left Panel -->
        <div class="col-sm-2 col-md-2">
            <div class="panel panel-default">
                <div class="panel-body">
                    {% if card.card_pic %}
                        <img src="{{ card.card_pic.url }}" class="img-responsive" style="">
                    {% else %}
                        <h3>No image to display</h3>
                    {% endif %}
                </div>
            </div>

        </div>
        <div class="col-sm-10 col-md-10">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="caption">
                        {% for feedback in 'xxxx'%}
                            <input type="hidden" value="{% cycle 'again' 'hard' 'medium' 'easy' as order %}">
                            {% include 'cards/includes/spaced_repetition_button.html' %}
                        {% endfor %}
                        <form action="{% url 'cards:update_card' card.id %}" method="get" class="inline-form" style="float: right">
                            {% csrf_token %}
                            <input type="hidden" name="card_id" value="{{ card.id }}" />
                            <button type="submit" class="btn btn-success btn-sm">
                                <span class="glyphicon glyphicon-cog"></span>
                            </button>
                        </form>
                    </div>
                    <div class="text-description">
                        <h1>{{ card.topic }} <small>{{ card.front }}</small></h1>
                        <h4 style="white-space: pre">{{ card.back|linebreaksbr }}</h4><br><br>
                        <p>review interval: {{ card.review_interval }} seconds</p>
                        <p>next review scheduled for: {{ card.review_time }}</p>
                        <br>
                    </div>
                    <div>
                        <a href="{{ card.card_audio }}" target="_blank">
                            <button type="submit" class="btn btn-primary btn-sm">
                                <span class="fa fa-youtube">
                                    Watch on Youtube
                                </span>
                            </button>
                        </a>
                        <a href="{{ card.card_score }}" target="_blank">
                            <button type="submit" class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-tasks"></span>
                                Score
                            </button>
                        </a>
                        <form action="{% url 'cards:delete_card' card.id %}" method="post" class="inline-form" style="float: right">
                            {% csrf_token %}
                            <input type="hidden" name="card_id" value="{{ card.id }}" />
                            <button type="submit" class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
