{% extends 'cards/base.html' %}
{% block music_active %}active{% endblock %}
{% block search_context %}my Songs{% endblock %}
{% block search_icon %}glyphicon-music{% endblock %}
{% block body %}
<div class="songs-container container-fluid">

    <!-- Cards -->
    <div class="row">
        <br>
        {% if cards %}
            {% for card in cards %}
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="thumbnail thumbnail_song {% if card.review_time > time_now %}review{% endif %}
                                          {% if card.is_new %}new_card{% endif %}
                                          {% if card.is_favorite %}favorite{% endif %}
                                          {% if card.is_pinned %}pinned{% endif %}">
                        <div class="fancy medium center" style="margin-top: 1em;"><b>
                            <span>{{ card.topic|truncatechars:33 }}</span>
                            {% if user == card.user %}
                                <form class="inline-form left" action="{% url 'cards:toggle_pin' %}" method="post"
                                    style="margin-left: .5em">
                                    {% csrf_token %}
                                    <input type="hidden" name="card_id" value="{{ card.id }}"/>
                                    <button type="submit" style="border: none; background-color: transparent; outline: none">
                                        <span class="fa fa-map-pin {{ card.is_pinned|yesno:"pin_on,pinstar"}}"></span>
                                    </button>
                                </form>
                                <form class="inline-form right" action="{% url 'cards:toggle_favorite' %}" method="post"
                                    style="margin-right: .5em">
                                    {% csrf_token %}
                                    <input type="hidden" name="card_id" value="{{ card.id }}" />
                                    <button type="submit" style="border: none; background-color: transparent; outline: none">
                                        <span class="glyphicon glyphicon-star
                                        {{ card.is_favorite|yesno:"star_on,pinstar" }}"></span>
                                    </button>
                                </form>
                            {% endif %}
                        </b></div><br>
                        <a href="{% url 'cards:detail' card.id %}">
                            <img src="{% if card.card_pic %}{{card.card_pic.url}}
                                {% else %}{{"../../static/default_no_picture.jpg"}}{% endif %}"
                                 class="img-responsive" style="height: 13em; width: 14em"></a>
                        <div class="caption center">
                            {% if user == card.user %}
                                <form action="{% url 'cards:update_card' card.id %}" method="get" class="inline-form">
                                    {% csrf_token %}
                                    <input type="hidden" name="card_id" value="{{ card.id }}" />
                                    <button type="submit" class="btn btn-success btn-sm">
                                        <span class="glyphicon glyphicon-cog"></span>
                                    </button>
                                </form>
                            {% else %}
                                <form action="{% url 'cards:update_card' card.id %}" method="get" class="inline-form">
                                    {% csrf_token %}
                                    <input type="hidden" name="card_id" value="{{ card.id }}" />
                                    <button type="submit" class="btn btn-success btn-sm">
                                        <span class="glyphicon glyphicon-plus"></span> Song
                                    </button>
                                </form>
                            {% endif %}
                            <a href="{{ card.card_audio }}" target="_blank">
                                <button type="submit" class="btn btn-primary btn-sm">
                                    <span class="fa fa-youtube"></span> watch</button></a>
                            <a href="{{ card.card_score }}" target="_blank">
                                <button type="submit" class="btn btn-primary btn-sm">
                                    <span class="glyphicon glyphicon-tasks"></span> score</button></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="col-sm-12">
                <br>
                <a href="{% url 'cards:create_card' %}">
                    <button type="button" class="btn btn-success">
                        <span class="glyphicon glyphicon-plus"></span>&nbsp; Add a SongCard
                    </button>
                </a>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
