{% extends 'cards/base.html' %}

{% block body %}
<div class="songs-container container-fluid">
    <h1> users </h1>
    <div class="row">
        {% if users %}
            {% for other_user in users %}
                <div class="col-sm-3 col-lg-2">
                    <div class="thumbnail center">
                        <h5><b>{{ other_user.username }}</b></h5>
                        <a href="{{ card.card_audio }}" target="_blank">
                            <button type="submit" class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-plus"> Befriend</span></button></a>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}
