.c1 {
    color: #E02130;
}

.c5 {
    color: #FFA243;
}

.c2 {
    color: #F7DB15;
}

.c6 {
    color: #429867;
}

.c3 {
    color: #2FABAD;
}

.c7 {
    color: mediumpurple;
}

.c4 {
    color: violet;
}