.c1 {
    color: #C02942; /* thoughtless */
}

.c5 {
    color: #F38630; /* Giant Goldfish */
}

.c2 {
    color: #ADD8C7; /* serenity is */
    /*color: #69D2E7; /* Aoi */
}

.c6 {
    color: #FF0066
}

.c3 {
    color: #D31996; /* Bloons */
}

.c7 {
    color: #FA6900; /* unreal food pills */
}

.c4 {
    color: #1693A5; /* dutch teal */
    /*color: #A7DBD8; /* clean pondwater */
}