body {
    background: white url("images/background.png");
}

form.inline-form {
    display: inline;
}

span.new_song {
    color: goldenrod;
}

ul.errorlist {
    padding-left: 0;
}

ul.errorlist > li {
    list-style: none;
}

/*.active {color: white;}*/

.center {
    text-align: center;
}

.fancy {
    font-family: 'Satisfy', cursive;
    text-align: center;
}



.xxlarge {font-size: 40pt;}
.xlarge {font-size: x-large;}
.large {font-size: large;}
.medium {font-size: medium;}

.left {
    float: left;
}

.right {
    float: right;
}

.glyphicon-star {
    color: #CCCCCC;
    font-size: 16px;
}

.glyphicon-star.active {
    color: #FDB230;
}

.goldenrod {
    color: goldenrod;
}

.lightgray {
    color: lightgray;
}

.darkblue {
    color: darkblue;
}

.navbar {
    border-radius: 0;
}

.navbar-brand {
    font-family: 'Satisfy', cursive;
}
/*
.pin-before:before {
    content: "";
}*/

.thumbnail {
    border: #000000 .3em solid;
}
.review {
    border: goldenrod .3em dashed;
}
.new_card {
    border: gold .3em ridge;
}

.scale-relative {
    font-size: 1vw;
}