body {
    background: white url("images/background.png");
}

form.inline-form {
    display: inline;
}

span.new_song {
    color: goldenrod;
}

ul.errorlist {
    padding-left: 0;
}

ul.errorlist > li {
    list-style: none;
}

.center {
    text-align: center;
}

.right {
    float: right;
}

.left {
    float: left;
}

.glyphicon-star {
    color: #CCCCCC;
    font-size: 16px;
}

.glyphicon-star.active {
    color: #FDB230;
}

.goldenrod {
    color: goldenrod;
}

.lightgray {
    color: lightgray;
}

.darkblue {
    color: darkblue;
}

.navbar {
    border-radius: 0;
}

.navbar-brand {
    font-family: 'Satisfy', cursive;
}
/*
.pin-before:before {
    content: "";
}*/

.thumbnail {
    border: #000000 .2em solid;
}