body {
    background: white url("images/background.png");
}

form.inline-form {
    display: inline;
}

h5.center {
    text-align: center;
}

span.new_song {
    color: goldenrod;
}

ul.errorlist {
    padding-left: 0;
}

ul.errorlist > li {
    list-style: none;
}

.navbar {
    border-radius: 0;
}

.navbar-brand {
    font-family: 'Satisfy', cursive;
}

.glyphicon-star {
    color: #CCCCCC;
    font-size: 16px;
}

.glyphicon-star.active {
    color: #FDB230;
}

.thumbnail {
    border: #000000 .2em solid;
}